body,
p {
  font-family: Inter;
  margin: 0;
  padding: 0;
}

.container-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container-page-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 370px;
  padding: 40px;
}

h1 {
  font-size: 2.5rem;
  color: #27294a;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
    width: 100%;
}

input {
  padding: 0;
  padding: 14px;
  font-size: 1.15rem;
  background-color: transparent;
  border: 1px solid;
  border-radius: 0.8rem;
}

select {
  padding: 0.5rem 0.8rem;
  border: 1px solid #27294a;
  border-radius: 0.8rem;
  background: white;
  font-size: 1rem;
  transition: border-color 0.2s;
  cursor: pointer;
}

button {
  padding: 1.2rem;
  font-size: 1.15rem;
  background-color: #27294a;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #363967;
  transition: ease-in;
  transition-duration: 200ms;
}

.app-layout {
  display: flex;
  height: 100vh;
  padding: 1.5rem;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.content {
  padding: 24px;
  overflow: auto;
}

.profile-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image-card {
  border: 1px solid #27294a;
  width: 200px;
  height: 200px;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-card {
  display: flex;
  gap: 2rem;
}

.stat-info {
  border: 1px solid #27294a;
  padding: 1.5rem;
}

.analyse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  border: 1px solid #27294a;
  padding: 1.5rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
