.container-page-content.new-analyse{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}

.container-header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  width: 100%;
}

.step-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.step{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bbbbbb;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  color: #bbbbbb;
}

.step-container.main > .step{
  color: #27294a;
  border-color: #27294a;
}

.step-container.main > h2{
  color: #27294a;
}

.step-container > h2{
  color: #bbbbbb;
}